body {
  /*  display: flex; */
    background-color: lightgrey;
}
.header {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width:650px) /* version mobile menu point de rupture 650 */
{

}
