
body {
    display: flex;
    flex-direction :column;
    background-color: #fff;
    color : #000;
    font-family: 'Schoolbell', cursive;
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
  color : #fff;
}

@media screen and (max-width:650px) /* version mobile menu point de rupture 650 */
{
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #32CD32;
  }
  #div_title
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h1_freeNote
  {
      font-size : 60px;
      font-family: 'Permanent Marker', cursive;
      margin: 10px;
      color : #000;

  }

  #ul_topBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #90EE90	;
  }

  #li_topBar   {
    display: block;
    padding:  35px;
    text-align: center;
    border: solid 1px  #32CD32;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: background-color .5s;
    color : #fff;
  }
  #li_topBar:hover  {
    background-color: #3CB371;
  }
  #hide_form
  {
    display: none;

  }
  #div_hide_form {
    justify-content: flex-end;
    display: flex;
    border : solid 3px  #90EE90;
    background-color: #32CD32;
    margin-bottom: 150px;

  }
   #form_login
   {
     display: flex;
     flex-direction: column;
     margin-top: 2.5px;
     margin-bottom: 2.5px;
     padding:  35px;
   }
   #input_form {
     margin-top: 2.5px;
     margin-bottom: 2.5px;
   }

.div_central {
    display: flex;
  }
  .aside {
    background-color: #90EE90;
    padding: 15px;
    color : #fff;

  }
  .section {
    display: flex;
    justify-content: center;
    margin: 25px 15px;
  }
  .footer
  {
    background-color: #32CD32;
    display: flex;
    justify-content: flex-start;
  }
  #div_liens_github
  {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
  #span_footer
  {
    font-size: 11px;
  }
}
